<header class="header-bar">
    <span data-segue="home" class="header-bar-button header-bar-button-left">
        <span class="ion-ios7-arrow-back"></span>
    </span>

    <h3 class="header-bar-title">Login</h3>
</header>

<section class="content">
    <form method="post" class="form">
        <label for="email">Adresse email</label>
        <input type="email" id="email" name="email" placeholder="test@test.com">

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" placeholder="****">
        <button class="btn btn-home login">Login</button>
    </form>
</section>