<header class="header-bar">
    <span data-segue="signup1" class="header-bar-button header-bar-button-left">
        <span class="ion-ios7-arrow-back"></span>
    </span>

    <h3 class="header-bar-title">Signup 2/2</h3>
</header>

<section class="content">
    <form method="post" class="form">
        <label for="card">Card numbers</label>
        <div class="card">
            <input type="phone" id="card" name="card" placeholder="1234 5678 9101 1121">
            <img id="card-icon" src="">
            <div class="clear"></div>
        </div>

        <label for="crypto">Cryptogramme</label>
        <input type="phone" id="crypto" name="crypto" placeholder="000">

        <label for="owner">Owner name</label>
        <input type="text" id="owner" name="owner" placeholder="Jean Dupont">
        
        <button class="btn btn-home login">Sign me up</button>
    </form>
</section>