$header-bar-background: #f7f6f6;
$header-bar-border: #dbdbdb;
$header-bar-textcolor: #474748;
$header-bar-font: "Helvetica Neue";
$header-bar-title-size: 18px;

$header-bar-logo-textcolor: #2695f4;
$header-bar-logo-size: 23px;

$header-bar-button-color: #515151;